.user{
    width: 100%;
    height:600px;
    margin: 10% auto 0;
    text-align: center;
    perspective:750px;
    position: relative;
}
.front, .back{
    position:absolute;
    width: 100%;
    height: 100%;
    transition: 1s;
}
.back{
    transform: rotateX(90deg);
}
input, button{
    text-align: center;
    font-weight: 700;
    letter-spacing: 2.5px;
}
button{
    font-weight: 500;
}

.dashboard .row{
    margin: 0;
}

.navbar{
    text-align: left;
    background-color: #95b3a7;
    border-bottom-right-radius: 100%;
    width: 20%;
    border-top-right-radius: 10%;
    position: absolute;
    left: 0;
    top: 0;
    /* animation-duration: all ease 5s;
    transition-duration: all ease 5s;
    transition: all ease 5s; */
}


.navbar h4{
    width: 100%;
    font-weight: 700;
}

.navbar ul{
    padding: 0;
    width: 100%;
}

.navbar ul li{
    list-style: none;
    margin: 8% 0 8%;
    
}
.navbar ul li a{
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    text-shadow: 2px 3px 0px black;
    transition: 0.3s ease-in-out;
}

.navbar ul li a:hover{
    text-shadow: -3px -3px 0px white;
    color: black;
}

.navbar button{
    border-radius: 50%;
    padding: 2% 4%;
    cursor: pointer;
    border: none;
}

.dashboard span.arrow{
    font-size: 60px;
    margin-left: 2%;
    cursor: pointer;
    animation: moving 3.5s ease-in-out infinite;
    z-index: 9999;
    position: absolute;
}

@keyframes moving{
    0%{
        padding-left: 0%;
    }
    8%{
        padding-left: 1.5%
    }
    16%{
        padding-left: 0;
    }
    25%{
        padding-left: 1.5%;
    }
    33%{
        padding-left: 0%;
    }
    100%{
        padding-left: 0;
    }
} 




.content{
    margin-top: 5%;
}



/* TURN
 */


 
 #flipbook{
     overflow: hidden;
    width:400px;
    margin-left: auto;
    height:300px;
    margin: 0 auto !important;
}

#flipbook img{
    width: 100%;
    height: 100%;

}

#flipbook h2{
    margin: 0;
    height: 50%;
}

#flipbook .page{
    width:400px;
    height:300px;
    background-color:white;
    line-height:300px;
    font-size:20px;
    text-align:center;
}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:#ccc !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    
}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}

#flipbook h2 + p{
    margin: 0;
}