<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="custom.css">

    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> -->
    <script src="https://use.fontawesome.com/becd647f77.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="Value.js"></script>



    <script src="main.js"></script>
<script src="controller.js"></script>
<script src="controller2.js"></script>
<script src="controller3.js"></script>

<script src="spa-routes.js"></script>

</head>


<body ng-app="dash" ng-controller="dashctrl">

    <div class="user" ng-show="!hidesignlog">
        <form class="back sign" id="back" name="form" ng-submit="callSubmit(form)" novalidate>

            <input type="email" name="em1" ng-model="em1" id="em1" placeholder="Enter email-id" required><br>
            <p ng-show="form.em1.$touched && form.em1.$invalid">Please fill your email</p>
            <br>
            <input type="password" name="pa1" id="pa1" ng-model="pa1" placeholder="Enter password" required ng-minlength="3" ng-maxlength="10"><br>
            <p ng-show="form.pa1.$touched && form.pa1.$invalid">Please fill your password of length 3&cuepr;length &cuepr; 10 </p>
            <br><br>

            <button type="submit" ng-disabled="!form.$valid">SIGN UP</button>&nbsp;
            <button ng-click="logKaro()" type="button">Already Signed Up?</button>
        </form>


        <form class="front log" id="front" name="form2" ng-submit="callLogin(form2)" novalidate>

                <input type="email" name="em2" ng-model="em2" id="em2" placeholder="Enter email-id" required><br>
                <p ng-show="form2.em2.$touched && form2.em2.$invalid">Please fill your email</p>
                <br>
                <input type="password" name="pa2" id="pa2" ng-model="pa2" placeholder="Enter password" required><br>
                <p ng-show="form2.pa2.$touched && form2.pa2.$invalid">Please fill your password</p>
                <br><br>
    
                <button ng-click="signKaro()" type="button">New User?</button>&nbsp;
                <button type="submit" ng-click="callLogin(form2)" ng-disabled="!form2.$valid">LOG IN</button>

        </form>
        
    </div>

    <div class="dashboard" ng-show="dashboard">


        <span ng-show="showMe" ng-click="showMe=!showMe" class="arrow">&#8594;</span>

            <div class="navbar" ng-show="!showMe">
                <h4>DASHBOARD</h4>
                <ul>
                    <li><a ng-href="#/">Profile</a></li>
                    <li><a ng-href="#/turn">Turn.js</a></li>
                    <li><a ng-href="#/cube">3d Cube</a></li>
                    <li ng-style="!admin?{'display':'none'}:{'display':'block'}"><a ng-href="#/userpage">Users</a></li>
                    <li><a href="" ng-click="goBack()">Log Out</a></li>
                    <button ng-click="showMe=!showMe">X</button>
                </ul>

            </div>



            <div class="content">
                <ng-view>
                    <h1>Welcome to your own dashboard</h1>
                    <h4>Please go forward and explore</h4>
                </ng-view>
            </div>
       

    </div>
    
<script
    src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
    
  <script src="turn.min.js"></script>
  <script src="controller4.js"></script>
</body>
</html>